/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------------------------------------*/

/* Global settings */
body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  line-height: 1.5em;
}

/* Header bar settings */
#titlebar {
  color: #a00;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 2em;
  margin-top: 4em;
  border-bottom: 2px solid #808080;
}

#titlebar a {
  color: #a00;
  text-decoration: none;
}

#titlebar a:hover {
  color: black;
}

#titlebar a.extra {
  color: #aaa;
  text-decoration: none;
}

#titlebar a.extra:hover {
  color: black;
}

/* Post settings */
.meta {
  font-size: 90%;
  color: #aaa;
}

#post {
  font-size: 100%;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

/* Footer settings */
#footer {
  font-size: 80%;
  color: #666;
  margin-top: 4em;
  border-top: 2px solid #808080;
}

.copyright{
  color: #666;
}

/* Content settings */
p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

ul.posts {
  list-style-type: none;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* Tag settings */
.post_tags{
  font-size: 90%;
}

.tag_list{
  font-size: 88%;
  color: #666;
}

.intag_list{
  font-size: 110%;
  color: #666;
}

/* Reading covers settings */
.readingcover {
  width: 100%;
}
