/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------------------------------------*/

/* Global settings */
body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  line-height: 1.5em;
  width: 45%;
  margin: 0px auto 0px auto;
}

/* Header bar settings */
#title {
  color: #a00;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 2em;
  margin-top: 4em;
}

#title a {
  color: #a00;
  text-decoration: none;
}

#title a:hover {
  color: black;
}

#title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

#title a.extra:hover {
  color: black;
}

/* Content settings */
#home {
  font-size: 105%;
}

/* Post settings */
#post {
  font-size: 105%;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

/* Footer settings */
#footer {
  font-size: 80%;
  color: #666;
  margin-top: 4em;
  border-top: 2px solid #808080;
}

.copyright{
  color: #666;
}

/*----------------------------------------------------------------------------------------------------------*/

/* Element settings */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1.5px;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

ul.posts {
  list-style-type: none;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
