---
layout: default
title: Reading
---
<h5><small>Last updated: {{ site.data.reading['LastUpdated'] | date: "%d %b %Y" }}</small></h5><br>

{% assign all_categories = site.data.reading['Books'] | map: "Category" | uniq | sort %}
{% for category in all_categories %}
<div class="panel panel-default">
  <div class="panel-heading">{{ category }} </div>
  <div class="panel-body">
    <div class="row">
      {% for book in site.data.reading['Books'] %}
	{% if book.Category == category %}
	  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	    <a href="{{ book.Link }}" target="_blank" title="{{ book.Title }}"><img src="{{ book.Cover }}" class="img-responsive readingcover"></a>
	    {% assign progress_width = "100" %}
	    {% assign progress_status = "Finished" %}
	    {% if book.Status == "Reading" %}
	      {% assign progress_width = "50" %}
	      {% assign progress_status = "Currently reading" %}
	    {% endif %}
	    <span title="{{ progress_status }}">
	      <div class="progress" style="border:0.03em solid black; margin-top:6px; height:10px">
		<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_width }}%"></div>
	      </div>
	    </span>
	  </div>
	{% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

<script>
	var bookimg_width = $('.readingcover').width(); 
	var bookimg_height = bookimg_width*1.55;
	$('.readingcover').css({'height':bookimg_height+'px'});
</script>

