---
layout: default
title: Reading
---
<h5><small>Last updated: {{ site.data.reading['LastUpdated'] | date: "%d %b %Y" }}</small></h5><br>

<ul class="posts">
  <div class="row">
    {% for book in site.data.reading['Books'] %}
      <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	<a href="{{ book.Link }}" target="_blank" title="{{ book.Title }}"><img src="{{ book.Cover }}" class="img-responsive" style="width:120px; height:170px"></a>
        {% assign progress_width = "100" %}
        {% assign progress_status = "Finished" %}
        {% if book.Status == "Reading" %}
          {% assign progress_width = "50" %}
          {% assign progress_status = "Currently reading" %}
        {% endif %}
        <div class="progress" style="border:0.03em solid black; margin-top:6px; height:10px">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_width }}%">
            <span aria-hidden="true" class="sr-only">{{ progress_status }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</ul>
